.hero {
    padding: 56px 0 0 0;
}

.container {}

.hero__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__desc {
    max-width: 528px;
}

.hero__title {
    font-size: clamp(2.25rem, 1.921rem + 1.505vi, 3.563rem);
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
}

.hero__text {
    max-width: 471px;
    font-family: var(--fontSizeText);
    font-weight: 100;
    font-size: clamp(1.375rem, 1.328rem + 0.215vi, 1.563rem);
    line-height: 157%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--text-body-copy);
    margin-top: 16px;
}

.btn-block {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    justify-content: center;
    text-wrap: nowrap;
}

.btn__action {
    background-color: #475F45;
    border: #475F45;
    color: white;
}

.btn__info {
    border: 2px solid #475F45;
    color: #475F45;
    background-color: transparent;
}

.hero__pic {
    border: 4px solid rgba(196, 196, 196, 0.4);
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    padding: 9px;
}

.hero__pic>img{
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}


@media(max-width: 1064px){
    .hero__contant{
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 64px;
    }
}